@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<a href="/blogs">Read the blogs</a>


<p>Without @@Assets[]</p>
<img src="images/img.jpg" />
<br />
<p>With @@Assets[]</p>
<img src="@Assets["images/img.jpg"]" />
